/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Header */

.top-header {
  height: 100px;
  background-color: #e6e6e6;
}

.mondo {
  font-size: 20px;
  position: relative;
  top: 35px;
  left: 250px;
  padding-right: 10px;
}

#english {
  padding-left: 10px;
  font-weight: 400;
}

.text {
  padding-left: 20px;
  font-weight: 400;
}

.freccia {
  font-size: 20px;
  position: relative;
  top: 35px;
  left: 250px;
}

.lente {
  font-size: 20px;
  position: relative;
  top: 35px;
  left: 1050px;
  color: #3bb9cc;
}

#login {
  text-align: center;
  height: 36px;
  width: 70px;
  color: orangered;
  border-style: solid;
  border-color: orangered;
  border-width: 1px;
  background-color: white;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  top: 8px;
  left: 1350px;
}

#hubspot {
  background-color: orangered;
  text-align: center;
  height: 36px;
  width: 145px;
  color: white;
  border-style: solid;
  border-color: orangered;
  border-width: 1px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  bottom: 27px;
  left: 1450px;
}

.top-header ul li a {
  display: inline-block;
  text-decoration: none;
  margin-left: 30px;
  padding: 15px;
}

.bottom-header {
  height: 100px;
}

.bottom-header img {
  position: relative;
  top: 35px;
  left: 250px;
}

.bottom-header ul li {
  position: relative;
  left: 940px;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* Main */

/* Jumbotron */

.jumbotron {
  height: 650px;
  background-image: url("../img-hubspot/jumbotron.png");
  background-color: #fff2ee;
  background-size: 1600px;
  background-position: 320px -35px;
  background-repeat: no-repeat;
}

.testo {
  width: 800px;
  position: relative;
  top: 45px;
  left: 250px;
}

.testo h1 {
  font-size: 70px;
  padding-bottom: 25px;
}

.testo h3 {
  line-height: 30px;
  padding-bottom: 50px;
  font-weight: normal;
}

.testo p {
  margin-top: 50px;
}

#btn-orange {
  text-align: center;
  color: white;
  border-style: solid;
  border-color: orangered;
  border-width: 1px;
  background-color: orangered;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  text-decoration: none;
}

.riga-azzurra {
  height: 80px;
  border-top: 3px solid;
  border-bottom: 3px solid;
  background-color: #82e0d5;
}

/* Sezione centrale */

.center-section {
  height: 1650px;
  background-color: #e6e6e6;
}

.illustration {
  width: 920px;
  height: 320px;
  position: relative;
  top: 40px;
  left: 450px;
  text-align: center;
}

.illustration img {
  width: 25%;
}

.illustration p {
  line-height: 30px;
}

.freecrm {
  width: 1200px;
  height: 370px;
  background-color: #fff;
  position: relative;
  top: 80px;
  left: 320px;
  box-shadow: 1px 1px 1px 1px #b9b8b8;
  border-radius: 5px;
  padding-top: 40px;
}

.freecrm img {
  width: 15%;
  position: relative;
  top: 40px;
  left: 100px;
}

#crm-button {
  text-align: center;
  color: white;
  border-style: solid;
  border-color: orangered;
  border-width: 1px;
  background-color: orangered;
  text-align: center;
  padding: 20px 44px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  top: 100px;
  right: 85px;
}

.testo-crm {
  width: 750px;
  height: 280px;
  position: relative;
  bottom: 100px;
  left: 400px;
}

.testo-crm p {
  line-height: 30px;
  padding-bottom: 30px;
  padding-top: 35px;
}

.testo-crm h3 {
  font-weight: bold;
  padding-bottom: 30px;
}
.linea {
  width: 400px;
  height: 10px;
  position: relative;
  bottom: 50px;
  left: 300px;
  border-bottom: 2px solid black;
}

.cerchio {
  color: orangered;
  padding-left: 15px;
}
.cerchio1 {
  color: orangered;
  padding-left: 0;
}

.testo-crm ul li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
}

/* Tre div verticali */

.rett-verticale {
  width: 367px;
  height: 770px;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #b9b8b8;
  border-radius: 5px;
  padding-top: 40px;
}

.rett-verticale .linea {
  position: absolute;
  bottom: 350px;
  left: 35px;
  width: 300px;
}

.rett-verticale h3 {
  margin-top: 110px;
  padding-bottom: 35px;
}

.marketing-hub {
  position: absolute;
  top: 1750px;
  left: 320px;
}

.marketing-hub img {
  width: 35%;
}

.rett-verticale h2 {
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 40px;
}

.rett-verticale p {
  line-height: 25px;
  padding-left: 18px;
  padding-right: 18px;
}

.sales-hub {
  position: absolute;
  top: 1750px;
  left: 736px;
}

.sales-hub img {
  width: 43%;
}

.service-hub {
  position: absolute;
  top: 1750px;
  left: 1155px;
}

.service-hub img {
  width: 32%;
}

.rett-verticale ul li {
  list-style: none;
  float: left;
  padding-left: 40px;
}

.rett-verticale .cerchio {
  padding-right: 20px;
}

.btn-learnmore {
  background-color: orangered;
  border-radius: 5px;
  color: white;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.learn-more1 {
  position: relative;
  right: 80px;
  top: 90px;
}

.learn-more2 {
  position: relative;
  top: 73px;
}

/* Sezione Intermedia */

.gradient {
  height: 800px;
  background: linear-gradient(to right, #00aab7, #00baa8);
  text-align: center;
}
.gradient h2 {
  color: white;
  font-size: 35px;
  padding: 40px 250px;
}

.gradient p {
  color: white;
  padding: 0 280px;
}

.primo-rett-bianco {
  height: 200px;
  width: 350px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: relative;
  left: 300px;
  top: 70px;
}

.mani {
  font-size: 50px;
  color: white;
}

.numero {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}

.piu {
  color: #fff;
  font-size: 30px;
  vertical-align: super;
}

.piccolo {
  color: #fff;
  display: block;
  margin-top: 20px;
}

.secondo-rett-bianco {
  height: 200px;
  width: 350px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: relative;
  left: 650px;
  bottom: 130px;
}

.secondo-rett-bianco img {
  padding-bottom: 12px;
}

.terzo-rett-bianco {
  height: 200px;
  width: 350px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: relative;
  left: 1000px;
  bottom: 330px;
}

.terzo-rett-bianco img {
  padding-bottom: 12px;
}

.quarto-rett-bianco {
  height: 200px;
  width: 350px;
  border-bottom: 2px solid white;
  position: relative;
  left: 1300px;
  bottom: 530px;
}

.quarto-rett-bianco img {
  padding-bottom: 12px;
}

.rett-bottom {
  height: 200px;
  width: 350px;
  border-right: 2px solid white;
}

.rett-bottom img {
  margin-top: 25px;
  padding-bottom: 15px;
}

.left1 {
  position: relative;
  left: 300px;
  bottom: 530px;
}

.left2 {
  position: relative;
  left: 650px;
  bottom: 730px;
}

.icona {
  font-size: 35px;
  color: white;
  margin-top: 25px;
  padding-bottom: 15px;
}

.left3 {
  position: relative;
  left: 1000px;
  bottom: 930px;
}

.left4 {
  position: relative;
  left: 1315px;
  bottom: 1127px;
  border: none;
}
